[Unit]
Description=A utility to analyze malicious JavaScript.

[Service]
Type=simple
WorkingDirectory=/opt/box-js/integrations/api
ExecStart=node api.js
User=root
Group=root
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target